Stepfunciton.json
{
  "Comment": "Insert data into MongoDB and DocumentDB",
  "StartAt": "Run BatchLambda",
  "States": {
    "Run BatchLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:ACCOUNT_ID:function:BatchLambda",
      "ResultPath": "$.batches",
      "Next": "Process Batches"
    },
    "Process Batches": {
      "Type": "Map",
      "ItemsPath": "$.batches",
      "MaxConcurrency": 1,
      "Iterator": {
        "StartAt": "Run MongoDB Lambda",
        "States": {
          "Run MongoDB Lambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:ACCOUNT_ID:function:MongoDBLambda",
            "InputPath": "$",
            "ResultPath": "$.mongoDBResult",
            "Next": "Run DocumentDB Lambda"
          },
          "Run DocumentDB Lambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:ACCOUNT_ID:function:DocumentDBLambda",
            "InputPath": "$",
            "ResultPath": "$.documentDBResult",
            "End": true
          }
        }
      },
      "End": true
    }
  }
}
